body {
  margin: auto;
  width: 50%;
  height: auto;
  background-color: #CCCCCC;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

a {
  color: green;
}

a:hover {
  color: white;
}
.column {
  height: 10%;
  width: 550px;
  border: 1px solid #294f4d;
  background-color: #E7E7E7;
  padding: 7px;
  margin: 20px;
  }

.profile {
  width: 190px;
  float: left;
  padding: 8px;
}

.column h1 {
  color:#294f4d;
  font-size: large;
  text-align: center;
}

.highlight {
  color: green;
}

.icon { 
  width: 17px;
  background:transparent;
  float: left;
  padding: 2px;
}